!!!
%html
  %head
    %link{rel: :stylesheet, type: 'text/css', href: 'index.css'}
    %title MeetButcher
  %body
    %h1 How do I use this?
    %p
      You can manually override the default location by setting <strong>'latitude'</strong>, <strong>'longitude'</strong> and <strong>'radius'</strong>
      (in miles) using a query string.
      %br
      For example,
      <a href="https://meet-butcher.herokuapp.com/?latitude=-33.865143&longitude=151.209900&radius=20.0">https://meet-butcher.herokuapp.com/?latitude=-33.865143&longitude=151.209900&radius=20.0</a>
      %br
      shows meetups within 20.0 miles of Sydney.
    %h1 Upcoming meet-ups
    - meetups.each do |meetup|
      %h2
        = meetup[:group][:name]
      %h3
        = meetup[:name]
      %p
        = Time.at((meetup[:time] + meetup[:utc_offset]) / 1000).strftime('%A, %e %B at %k:%M')
      - if meetup.has_key? :venue
        %p
          = meetup[:venue][:name]
          - if meetup[:venue].has_key? :address_1
            %br
            = meetup[:venue][:address_1]
          - if meetup[:venue].has_key? :address_2
            %br
            = meetup[:venue][:address_2]
